* {

	padding: 0px;
	margin:  0px;
}

.ROGUE1{

	position: fixed;
	background:#1a1a1a;
	width: 1200px;
	height: 800px;




}

.AGUILA1 {

position: absolute;
background:#f8d710;
justify-content: center;
width:439px;
height: 627px;
left: 400px;
top: 62px;
bottom: 110px;


}

.AGUILA2 {

	position: absolute;
	color: #000000;
	width: 207px;
	height: 238px;
	top: 170px;
	left:410px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 100px;
	line-height: 80px;
	font-weight: 300px;
	font-weight: 900;

	


	
}

.AGUILA3 {

	position: absolute;
	color: #000000;
	width: 200px;
	height: 238px;
	left: 610px;
	top: 110px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font size: 50px;
	line-height: 15px;
	font-weight: normal;
	
}

.AGUILA4 {

	position: absolute;
	color: #000000;
	width: 315px;
	height: 89px;
	left: 482px;
	top: 388px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font size: 6px;
	line-height: 20px;
	font-weight: lighter;
	
}

.AGUILA5 {

	position: absolute;
	background: #000000;
	color: white;
	width: 102px;
	height: 20px;
	left: 482px;
	top: 494px;


	
}

.AGUILA6{


	
}
